! /etc/keepalived/keepalived.conf
! Configuration File for keepalived
global_defs {
    router_id {{ keepalive_id }}
}
vrrp_script check_apiserver {
  script "/etc/keepalived/check_apiserver.sh"
  interval 3
  weight -2
  fall 10
  rise 2
}

vrrp_instance VI_1 {
    state {{ keepalive_state }}
    interface {{ keepalive_interface }}
    virtual_router_id {{ keepalive_router_id }}
    priority {{ keepalive_priority }}
    authentication {
        auth_type PASS
        auth_pass {{ keepalive_pass }}
    }
    virtual_ipaddress {
        {{ kube_vip_address }}
    }
    track_script {
        check_apiserver
    }
}